.table-border-1px{
    width: 100%;
    border-radius: 3px;
}

.table-border-1px th{
    border-width: 1px !important;
}
.table-border-1px tr{
    border-width: 1px !important;
}
.table-border-1px td{
    border-width: 1px !important;
}