input.invalid__value,
textarea.invalid__value {
  border-color: red;
}

input.invalid__value::placeholder,
textarea.invalid__value::placeholder {
  color: red;
}

.text__input {
  width: 400px !important;
}
